{{ $baseurl := .Site.BaseURL }}
{{ partial "header.html" . }}

<main class="content" role="main">
	<article class="{{ .Section }}">
		<div class="inner">

			<div id="push">

  			<header class="post-header">
  				<span class="post-meta">
						<span class="post-date">{{ .Date.Format "2 Jan 2006" }}</span> <span class="reading-time">| <span class="estimated-reading-time">{{ .ReadingTime }} min.</span> (<span class="word-count">{{ .WordCount }}</span> words)</span></span>
  				</span>
  				<div class="clear"></div>
  				<h1 class="post-title">{{ .Title }}</h1>
  			</header>

  			<section class="post-content">
  				{{ .Content }}
  			</section>

        {{ partial "related.html" . }}

  			<footer class="post-footer">
  				<div class="post-tags">
            {{if .Params.tags }}
            {{ range $index, $tag := .Params.tags }}
                <a href="{{ $baseurl }}tags/{{ $tag | urlize }}/">{{ $tag }}</a>
            {{ end }}
            {{ end }}
  				</div>

  				<div class="post-share">
            <a class="icon-pinterest popup" href="http://pinterest.com/pin/create/button?url={{ .Permalink }}&description={{ .Title }}&media={{ $baseurl }}{{ .Params.image | urlize }}">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15px" height="15px" viewBox="0 0 28 28" enable-background="new 0 0 15 15" xml:space="preserve">
                    <path d="M14.021,1.57C6.96,1.57,1.236,7.293,1.236,14.355c0,7.062,5.724,12.785,12.785,12.785c7.061,0,12.785-5.725,12.785-12.785 C26.807,7.294,21.082,1.57,14.021,1.57z M15.261,18.655c-1.161-0.09-1.649-0.666-2.559-1.219c-0.501,2.626-1.113,5.145-2.925,6.458 c-0.559-3.971,0.822-6.951,1.462-10.116c-1.093-1.84,0.132-5.545,2.438-4.632c2.837,1.123-2.458,6.842,1.099,7.557 c3.711,0.744,5.227-6.439,2.925-8.775c-3.325-3.374-9.678-0.077-8.897,4.754c0.19,1.178,1.408,1.538,0.489,3.168 C7.165,15.378,6.53,13.7,6.611,11.462c0.131-3.662,3.291-6.227,6.46-6.582c4.007-0.448,7.771,1.474,8.29,5.239 c0.579,4.255-1.816,8.865-6.102,8.533L15.261,18.655z"/>
                </svg>
                <span>Pinterest</span>
            </a>
  					<a class="icon-twitter" href="https://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
  						<span>Twitter</span>
  					</a>
  					<a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
  						<span>Facebook</span>
  					</a>
  					<a class="icon-gplus" href="https://plus.google.com/share?url={{ .Permalink }}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
  						<span>Google+</span>
  					</a>
  				</div>
  			</footer>

  			{{ partial "comments.html" . }}

			</div>

			<nav class="post-nav">
				{{ if .Next }}
					<a class="post-nav-item post-nav-next" href="{{ .Next.Permalink }}">
						<section class="post-nav-teaser">
							<span class="post-nav-icon"><i class="icon-arrow-left"></i></span>
							<span class="post-nav-info">
								<h4 class="post-nav-title">{{ .Next.Title }}</h4>
								<p class="post-nav-excerpt">{{ .Next.Description }}&hellip;</p>
							</span>
						</section>
					</a>
				{{ end }}
				{{ if .Prev }}
					<a class="post-nav-item post-nav-prev" href="{{ .Prev.Permalink }}">
						<section class="post-nav-teaser">
							<span class="post-nav-icon"><i class="icon-arrow-right"></i></span>
							<span class="post-nav-info">
								<h4 class="post-nav-title">{{ .Prev.Title }}</h4>
								<p class="post-nav-excerpt">{{ .Prev.Description }}&hellip;</p>
							</span>
						</section>
					</a>
				{{ end }}
				<div class="clear"></div>
			</nav>

		</div>
	</article>
</main>

{{ partial "footer.html" . }}
