<div id="related">
  <h3>Related</h3>
  <div class="post-list">
    <div id="push">
      {{ $page_link := .Permalink }}
      {{ $tags := .Params.tags }}
      {{ range where (where .Site.Pages.ByDate.Reverse "Type" "post") "Date.Unix" "<" .Date.Unix }}
        {{ $common_tags_required := 1 }}
        {{ $has_common_tags := (ge (intersect $tags .Params.tags | len ) $common_tags_required ) }}
        {{ $is_not_current := (ne $page_link .Permalink) }}
        {{ $under_limit := (lt ($.Scratch.Get "related_matches") $.Site.Params.NumRelatedPosts) }}
        {{ if and $has_common_tags $under_limit $is_not_current}}
          {{ .Render "li" }}
          {{ $.Scratch.Add "related_matches" 1 }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
