<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{
		clear:left;
		width:100%;
		max-width:500px;
		margin: 0 auto 125px;
	}
  @media (max-width: 800px) {
    #mc_embed_signup{
      margin-bottom: 165px;
    }
  }

</style>
<div id="mc_embed_signup">
<form action="//notanomadblog.us13.list-manage.com/subscribe/post?u=0ed43add01311b3143cacfdaa&amp;id=851d0ea35a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Get new posts delivered to your inbox!</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0ed43add01311b3143cacfdaa_851d0ea35a" tabindex="-1" value=""></div>
    <div class="clear">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color: #36D995" onClick="ga('send', 'event', 'Click', 'Subscribe', 'subscribe @ footer')">
    </div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
